Flask
gunicorn
flask-cors

# ML/NLP
sentence-transformers
transformers
torch
scikit-learn
numpy
pandas
nltk
tqdm

# Firebase + Mongo
firebase-admin
pymongo

# Environment
python-dotenv
